/* ao3-copied styles */
.card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 10px 20px 5px rgba(20, 20, 20, 0.2);
}

.work-group-table {
    border-style: hidden;
    border-spacing: 1em 0;
    width: 100%;
}
td {
    padding: 7px;
}

/* self styles */
.rating {
    font-style: normal;
}
.warning {
    font-weight: bolder;
}

.fandom {
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.chars {
    text-decoration: underline;
    text-decoration-style: dotted;
}


.additional-notes {
    text-decoration: underline;
    text-decoration-style: dotted;
}
.stats {
    font-family: 'Courier New', Courier, monospace;
}